body {
    background-color: rgb(173, 173, 173);
}


.gridContainer {

    display: flex;
    justify-content: center;
}


.grid {
    background-color: aliceblue;
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.size {
    display: flex;
    justify-content: center;
    margin: 40px;
}